{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
        .page{
        max-width: 60%;
         margin: auto;
                  background-color:#f1f1f1;
         padding:10px;

        }
        .center{
        text-align: left;
        }
    </style>
</head>
<body>
<div class="page">
    <h3>Question 9 of 10:</h3>
  <h4>Q9. Which is the longest river in the world?</h4>
  <input type="radio" id="option1" name="answer" value="Ganges" onclick="ShowHideDiv()">
  <label>Ganges</label><br><br>
  <input type="radio" id="option2" name="answer" value="Amazon River" onclick="ShowHideDiv()">
  <label>Amazon River</label><br><br>
  <input type="radio" id="option3" name="answer" value="Nile" onclick="ShowHideDiv()">
  <label>Nile</label><br><br>
  <input type="radio" id="option4" name="answer" value="Danube River" onclick="ShowHideDiv()">
  <label>Danube River</label><br><br>
    <input type="submit" value="Next Question>" onclick="location.href = '/question10'"/><br>
  <br>  <div id="disp" style=
        "color:green; font-size:18px; font-weight:bold;">
    </div>
   <script>
   function ShowHideDiv(){
            if(option2.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("disp").innerHTML
                        = "Not Correct! Try again";
            }
            }
            else if(option3.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("disp").innerHTML
                        = "Correct! <br>The Selected Answer is: "+ele[i].value;
            }
}
            if(option1.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("disp").innerHTML
                        = "Not Correct! Try again";
            }
            }
                        if(option4.checked){
            var ele = document.getElementsByName('answer');

            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                document.getElementById("disp").innerHTML
                        = "Not Correct! Try again";
            }
            }
            }
    </script>
</div>
</body>
</html>
{% endblock content %}
